html, body, #root {
  background-color: #303133;
}

.app {
  background-color: #303133;
  color: white;
}
.content {
  max-width: 600px;
}

.badge {
  margin: 2px;
}

.center {
  text-align: center; 
}

a, a:link, a:visited, a:hover, a:active {
  color: white;
}

.badge.badge-info.badge-pill {
  background-color: #3C7EBB;
}